<ion-view title="List Name" id="page11">
  <ion-content padding="true" class="has-header">
    <button id="listName-button13" class="button button-royal button-block">EDIT WISHLIST</button>
    <ion-list id="listName-list7">
      <label class="item item-input" id="listName-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-thumbnail-left" id="listName-list-item8">
        <h2>Product Name</h2>
        <p style="white-space:normal;">$0.00, Number Requested</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>