<ion-view title="Profile" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="profile-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:-7px;">Bio</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <button id="profile-button3" style="font-size:-1px;" class="button button-royal button-block">EDIT</button>
  </ion-content>
</ion-view>