<ion-view title="Signup" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="signup-form4" class="list">
      <ion-list id="signup-list6">
        <label class="item item-input" id="signup-input9">
          <input type="text" placeholder="Full Name">
        </label>
        <label class="item item-input" id="signup-input10">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input11">
          <input type="text" placeholder="Password">
        </label>
      </ion-list>
      <button id="signup-button8" class="button button-stable button-block">Sign up as School</button>
      <button id="signup-button8" class="button button-stable button-block">Sign up as Donor</button>
    </form>
  </ion-content>
</ion-view>
