<ion-view title="Wishlists" id="page2">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.newList()" id="wishlists-button9" style="font-weight:500;font-size:16px;" class="button button-royal button-block button-outline">Create a New Wishlist</a>
    <ion-list id="wishlists-list1">
      <ion-item class="item-avatar" id="wishlists-list-item7" ui-sref="tabsController.listName()">
        <h2>Name of School</h2>
        <p>Wishlist's Name</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>